@font-face {
    font-family: "roboto thin";
    src: url("./font/Roboto-Thin.ttf");
}
@font-face {
    font-family: "roboto normal";
    src: url("./font/Roboto-Regular.ttf");
}
@font-face {
    font-family: "roboto light";
    src: url("./font/Roboto-Light.ttf");
}
@font-face {
    font-family: "roboto medium";
    src: url("./font/Roboto-Medium.ttf");
}
@font-face {
    font-family: "roboto bold";
    src: url("./font/Roboto-Bold.ttf");
}
@font-face {
    font-family: "roboto black";
    src: url("./font/Roboto-Black.ttf");
}

:root
{
    --blue : #0815ff;
    --white : #eeeff9;
    --black : #121012;
    --gray : #aaabbd;
    --purple : #4a58aa;
    --yellow : #ffb703;
    --orange : #ff8521;
    --green : #49b768;
    --off_brown : #52484d;
    --off_golden : #929182;
    --off_orange : #ab5d2e;
    --redish : #fb745d;
    --light_purple : #b081ff;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto normal";
}

html, body
{
    width: 100%;
    height: 100%;
}

.navbar
{
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
}
.navbar .nav_logo
{
    width: 250px;
    height: 40px;
    padding: 0 10px;
}
.nav_logo img
{
    width: 100%;
    height: 100%;
}
.navbar .nav_links
{
    width: auto;
    height: fit-content;
    /* border: 1px solid blue; */
}
.nav_links .nav_link
{
    text-decoration: none;
    color: var(--black);
    font-family: "roboto medium";
    padding: 0 15px;
    font-size: 16px;
}
.nav_link:hover
{
    color: var(--blue);
}
.navbar .nav_btns
{
    margin-right: 10px;
    width: 150px;
    height: 40px;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.nav_btns .nav_btn
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-family: "roboto medium";
    text-decoration: none;
}
.nav_btns:hover
{
    background-color: var(--purple);
}
/* Media query for navbar goes here */
/* Code */
/* Media query for navbar goes here */
.head_box
{
    width: 100%;
    height: 500px;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(239, 238, 255, .8);
    /* border: 1px solid blue; */
}
.head_box .headbox_img
{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.headbox_img img
{
    width: 200px;
}
.head_box .headbox_texts
{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* border: 1px solid red; */
}
.headbox_texts .headbox_title
{
    margin-top: 10px;
    font-family: "roboto bold";
    font-size: 2em;
    color: var(--black);
}
.headbox_texts .headbox_subtitle
{
    margin-top: 10px;
    font-family: "roboto normal";
    font-size: .9em;
    color: var(--gray);
    text-align: justify;
}
.headbox_texts .short_feedback_box
{
    margin-top: 40px;
    height: 50px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.short_feedback_box i
{
    font-size: 1.5em;
    color: var(--gray);
    margin: auto 0;
}
.short_feedback_box input
{
    width: 100%;
    height: 40px;
    color: var(--black);
    font-size: 14px;
    background: none;
    border: none;
    outline: none;
    padding: 5px;
    /* border: 1px solid red; */
}
.short_feedback_box button
{
    width: 150px;
    height: 40px;
    background-color: var(--blue);
    color: var(--white);
    font-family: "roboto medium";
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
}
.short_feedback_box button:hover
{
    background-color: var(--purple);
}
/* Media query for head_box goes here */
/* Code */
/* Media query for head_box goes here */

.depts
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.dept_item
{
    margin: 5px 10px;
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: "roboto bold";
    font-size: 12px;
}
.dept_item img
{
    width: 28px;
    height: 28px;
}
.dept_item i
{
    margin-right: 5px;
    width: 40px;
    height: 100%;
    /* background-color: #0815ff; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.cmt{background-color: var(--redish);}
.ct{background-color: var(--green);}
.et{background-color: var(--light_purple);}
.mt{background-color: var(--yellow);}
.amt{background-color: var(--orange);}
.tlt{background-color: var(--purple);}
.mrt{background-color: var(--green);}

.mainBestBody
{
    margin-top: 20px;
    width: 100%;
    height: 400px;
    /* border: 1px solid red; */
}
.mainBestBody .mainBest_head
{
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainBest_head h1
{
    margin-bottom: 5px;
    font-family: "roboto bold";
    font-size: 1.6em;
    color: var(--black);
    text-transform: capitalize;
}
.mainBest_head p
{
    margin-top: 5px;
    font-family: "roboto normal";
    font-size: 14px;
    color: var(--gray);
}
.mainBestBody .mainBest_cards
{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.mainBest_cards .bestCard
{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: rgba(240, 240, 240, 0.5); */
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.bestCard img
{
    width: 40px;
    height: 40px;
}
.bestCard i
{
    width: 60px;
    height: 60px;
    /* background-color: var(--green); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 10px;
}
.bestCard h2
{
    word-wrap: break-word;
    font-size: 1.2em;
    font-family: "roboto normal";
    color: var(--black);
}
.bestCard p
{
    text-align: left;
    color: var(--gray);
    font-size: 14px;
}
/* Media query for We are best goes here */
/* Code */
/* Media query for We are best goes here */

.portfolio_section
{
    width: 100%;
    height: 300px;
    background-color: rgba(240, 240, 240, 0.5);
    padding: 10px;
}

.portfolio_section .portfolio_head
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.portfolio_head h2
{
    font-family: "roboto bold";
    font-size: 1.6em;
    color: var(--black);
    text-transform: capitalize;
}
.portfolio_section .portfolio_contents
{
    width: 700px;
    height: auto;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.slide_box
{
    width: 800px;
    height: 200px;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}
.slide_box .slide
{
    margin: 0 10px;
    padding: 10px;
    background-color: #fff;
    width: auto;
    height: 150px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 140, 255, 0.2),
                -1px -1px 10px rgba(0, 140, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: .5s;
    user-select: none;
}
.slide_box .slide:hover
{
    box-shadow: 3px 3px 20px rgba(0, 140, 255, 0.3),
                -3px -3px 20px rgba(0, 140, 255, 0.3);
}
.slide h3
{
    font-family: "roboto normal";
    font-size: 1.2em;
    color: var(--black);
}
.slide h6
{
    font-family: "roboto normal";
    font-size: 10px;
    color: var(--gray);
}
.slide p
{
    height: 100%;
    text-align: justify;
    font-family: "roboto normal";
    font-size: 14px;
    color: var(--gray);
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
.arrow
{
    font-size: 3em;
    color: var(--gray);
    cursor: pointer;
    user-select: none;
}
/* Media query for portfolio goes here */
/* Code */
/* Media query for portfolio goes here */
.footer_section
{
    padding: 20px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.footer_section .footer_left, .footer_mid, .footer_right
{
    width: 300px;
}
.footer_left img
{
    width: 200px;
    margin-bottom: 5px;
}
.footer_left summary
{
    font-size: 14px;
    color: var(--gray);
    margin-bottom: 25px;
}
.footer_section h3
{
    font-size: 1.3em;
    color: var(--black);
    margin-bottom: 20px;
}
.footer_section p
{
    font-size: 14px;
    color: var(--gray);
    margin: 10px 0;
    display: flex;
    align-items: center;

}
.footer_section a
{
    font-size: 14px;
    color: var(--gray);
    margin: 10px 0;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.footer_section i
{
    height: 100%;
    font-size: 1.5em;
    margin-right: 10px;
}